<%- include('./partials/header'); -%>


<h1 class="title">Users</h1>

  <div class="table-container">
    <table class="table is-fullwidth">
        <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Location</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Google ID</th>
                <th>Delete</th>
               </tr>
            </thead>
            <tbody>
            <% users.forEach(function(us) {  %>
              <tr>
                <td><%= us.name %></td>
                <td><%= us.email %></td>
                <td><%= us.location %></td>
                <td><%= us.phone %></td>
                <td><%= us.userrole %></td>
                <td><%= us.googleId %></td>
                <td>
                    <form action="/admins/<%= us._id %>/user?_method=DELETE" method="POST">
                      <button class="detailButton">DELETE</button></form>
                      </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
    </table>
  </div>


  
<%- include('./partials/footer'); -%>

