<%- include('./partials/header'); -%>




  <div class="table-container">
    <table class="table is-fullwidth">
        <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Header</th>
                <th>Location</th>
                <th>Category</th>
                <th>Storage Type</th>
                <th>Usage Type</th>
                <th>Price</th>
                <th>Delete</th>
               </tr>
            </thead>
            <tbody>
            <% storages.forEach(function(st) {  %>
              <tr>
                <td><%= st.storageHeader %></td>
                <td><%= st.location %></td>
                <td><%= st.category %></td>
                <td><%= st.storageType %></td>
                <td><%= st.usageType %></td>
                <td>$<%= st.price %></td>
                <td>
                  <form action="/admins/<%= st._id %>?_method=DELETE" method="POST">
                    <button class="detailButton">DELETE</button></form>
                    </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
    </table>
  </div>



  
<%- include('./partials/footer'); -%>

