<%- include('../partials/header'); -%>

<% if( (user) && (!user.phone)) { %>


    <div class="notification is-warning" style="border-radius: 0; margin-bottom: 0;">
        <p align="center">
            <a href="/users/<%= user._id %>/edit">You have to complete your Phone Number and Address information before start to use! Click here to add your details!</a>

        </p>
      </div>

<% } %>

<section class="hero">
    <div class="hero-body">
      <div class="container">
        <img src="https://i.imgur.com/6rTFrIq.png" width="1220" height="auto">
        <h6 class="subtitle is-6">
          <b>Make Money With Your Free Storage Space Today!</b>
        </h6>
      </div>
    </div>
  </section>


<section>
<div class="container is-fullscreen is-fullheight">
  <div class="container"><div class="container"><a href="storages/all/showall">SHOW ALL STORAGES</a></div></div>
    <div class="columns features">
<% storages.slice(0, 3).forEach(function(st) {  
    
       
            
            %>
 
        
          <div class="column is-2">
            <div class="card is-shady">
              <div class="card-image">
                <figure class="image is-3by2">
                    <a href="/storages/<%= st._id %>"><img src="<%= st.photoLink %>" alt="Placeholder image" class="modal-button" data-target="modal-image2"></a>
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <h5><%= st.storageHeader %></h5>
                  <p  class="subtitle is-4"><b>$<%= st.price %></b></p>
                  <p  class="subtitle is-6"><a href="/storages/<%= st.location %>/showbycity"><%= st.location %></a></p>
                  <a href="/storages/<%= st._id %>"><span class="button is-link is-danger is-focused is-default">Show Details  &nbsp;
                    <% if( (user) && (user._id == st.userID) ){  %><i class="fas fa-star"></i> <% } %></span></a>
                </div>
              </div>
            </div>
          </div>
        
  
<%     }); %>

<div class="column is-5">

  <div class="notification is-danger">
    <div class="container">
            <h4 class="title is-4">
              <b>Add Your Space For Free</b>
            </h4>
            <h3 class="subtitle">
              <b>Share My Storage is a General Assembly Software Engineering Immersive Student Project!</b> <br>Developed by Node.js / Express and MongoDB / Mongoose and Google Oauth
            </h3>
          </div>
      </div>

      <div class="notification is-warning">
        <div class="container">
            <h4 class="title is-4">
              <b>Thanks To!</b>
            </h4>
            <h5 class="subtitle is-5">
              Chris, Tara, Shaw and my teammates Stephanie, Futsum, Gary, Josh, Amanda, Michael, Keenan and James. And to caffeine (Both filter and Turkish Coffee)! <i class="fas fa-heart"></i><i class="fas fa-heart"></i>
            </h5>
          </div>
      </div><div class="container"></div>
</div>
    </div>
    <div class="container"></div>
</div>
</section>

<%- include('../partials/footer'); -%>