<%- include('../partials/header'); -%>

<% if( (user) && (!user.phone)) { %>


    <div class="notification is-warning" style="border-radius: 0; margin-bottom: 0;">
        <p align="center">
            <a href="/users/<%= user._id %>/edit">You have to complete your Phone Number and Address information before start to use! Click here to add your details!</a>

        </p>
      </div>

<% } %>

<section class="hero">
    <div class="hero-body">
      <div class="container">
        <img src="https://i.imgur.com/6rTFrIq.png" width="1200" height="auto">
        <h2 class="subtitle">
          Make Money With Your Free Storage Space Today!
        </h2>
      </div>
    </div>
  </section>


<section>
<div class="container is-fullscreen">
    <div class="columns features">
<% storages.slice(0, 3).forEach(function(st) {  
    
       
            
            %>
 
        
          <div class="column is-2">
            <div class="card is-shady">
              <div class="card-image">
                <figure class="image is-3by2">
                    <a href="/storages/<%= st._id %>"><img src="<%= st.photoLink %>" alt="Placeholder image" class="modal-button" data-target="modal-image2"></a>
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <h5><%= st.storageHeader %></h5>
                  <p><b><a href="/storages/showbycity"><%= st.location %></a></b></p>
                  <a href="/storages/<%= st._id %>"><span class="button is-link is-danger is-focused">Show Details  &nbsp;
                    <% if( (user) && (user._id == st.userID) ){  %><i class="fas fa-star"></i> <% } %></span></a>
                </div>
              </div>
            </div>
          </div>
        
  
<%     }); %>
<div class="column is-5">
    <div class="container is-widescreen">
    <section class="hero is-danger is-medium">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Add Your Space For Free
            </h1>
            <h2 class="subtitle">
              Share My Storage is a General Assembly Software Engineering Immersive Student Project!
            </h2>
          </div>
        </div>
</div>

</div>

</div>
</section>

<%- include('../partials/footer'); -%>