<%- include('../partials/header.ejs') -%>

<section class="intro">  

<div class="container is-fluid">
    
    <section class="section">
      <div class="container">
        <div class="columns is-desktop">
          <div class="column is-6-desktop"><img src="<%= storage.photoLink %>" alt=""> </div>
          <div class="column is-6-desktop">
           <h2 class="title is-spaced"><label class="pricelabel">$<%= storage.price %> / Month</label><br><%= storage.storageHeader %></h2>
            <p class="subtitle"><%= storage.storageDetails %></p>
            <div class="columns">
              <div class="column is-fullwidth">
                <div class="field is-horizontal">
                 <div class="field-body">
                   <div class="field">
                      <div class="container">
                        <div class="table-container">
                            
                            <table class="table" style="background-color:#efefef;">
                              <tr><td><% if (!user) { %> <button class="bd-tw-button button is-focused"><a href="/auth/google">Sign Up or Login To Send Message</a>
                                <% } else if( user ) { %>
                                    <a href="/forms/<%= storage._id %>"><button class="button is-success">Contact With Owner</button></a></td> <% } %>
                                
                                <td> <% if( (user) && (user._id == storage.userID) ){  %> <a href="/storages/<%= storage._id %>/edit"><button class="button is-info">Edit Storage</button> </a> <%  } %>
                                 </td>
    
                                  <td>
                                    <% if( (user) && (user._id == storage.userID) ){  %>  <form action="/storages/<%= storage._id %>?_method=DELETE" method="POST">
                                <button class="button is-danger">Delete Storage</button> </form><%  } %>
                            </td></tr>
                            </table>
                         </div>
                      </div>
                    </div>
                </div>
               </div>
            </div>
            </div>
          
          </div>
        </div>
      </div>

      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
                <div class="column is-6">
                    
                    <div class="table-container">
                        <table class="table is-fullwidth">
                            <table class="table is-fullwidth">
                                <thead>
                                  <tr>
                                    <th colspan="2">Details</th>
                                   </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Category</td>
                                    <td><%=storage.category%></td>
                                  </tr>
                                  <tr>
                                    <td>Google Maps Link</td>
                                    <td><a href="<%=storage.mapLink%>" target="_blank"><%= storage.mapLink %></a></td>
                                  </tr>
                                  <tr>
                                    <td>City</td>
                                    <td><%= storage.location %></td>
                                  </tr>
                                  <tr>
                                    <td>Storage Type</td>
                                    <td><%=storage.storageType%></td>
                                  </tr>
                                  <tr>
                                    <td>Usage Type</td>
                                    <td><%=storage.usageType%></td>
                                  </tr>
                                </tbody>
                              </table>
                        </table>
                      </div>
            
                      

                </div>
                <div class="column is-6"> <div class="table-container">
                    <table class="table is-fullwidth">
                        <table class="table is-fullwidth is-striped">

                            <tbody><tr><td>

                              <% if (storage.reviews.length) {  %>
                                <table>
                                  <tbody>
                                    <% let total = 0 %>
                                    <% storage.reviews.forEach(function(r) { %>
                                      <% total += r.rating %>
                                      <tr>
                                        <td><%= r.content %></td>
                                        <td><%= r.rating %></td>
                                      </tr>
                                    <% }); %>
                                    <tr>
                                      <td colspan="2" align="right" >Rating : <strong><%= (total / storage.reviews.length).toFixed(1) %></strong></td>
                                    </tr>
                                  </tbody>
                                </table>
                              <% } else { %>
                                <h5>No Reviews Yet</h5>
                              <% } %>



                            </td></tr></tbody>

                            <% if(user){ %>

                            <tbody>
                              <tr>
                                <td colspan="2">
                                  <form id="review-form" method="POST" action="/storages/<%= storage._id %>/reviews">
                                    <label>Review:</label>
                                    <div class="field">
                                      <div class="control">
                                        <textarea class="textarea is-small" type="text" placeholder="Write your review here" name="content" required></textarea>
                                      </div>
                                    </div>
                                    <div class="select">
                                    <select class="select" name="rating">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                    </select>
                                  </div>
                                    <input class="button is-warning" type="submit" value="Add Review">
                                  </form>
                                </td>
                                </tr>
                           </tbody> 
                          <% } %>
                          </table>
                    </table></div>
           
    </section>
  </div>
</section>
<%- include('../partials/footer.ejs') -%>


