      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title><%= title %> | <%= subtitle %></title>
          <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
          <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
          <link rel="manifest" href="/site.webmanifest">
          <link rel="stylesheet" href="/stylesheets/style.css">
          <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
          <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
      </head>
      <body>

                  
    <nav class="navbar ">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
        <span class="logo">SHARE<font color="#777777">MY</font>STORAGE</span></a>
          <div class="navbar-burger burger" data-target="navMenubd-example">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="navMenubd-example" class="navbar-menu">
            <div class = "navbar-brand">
                <a class = "navbar-item" href="/about">
                ABOUT
                </a>
            </div>
            <div class = "navbar-brand">
                <a class = "navbar-item" href="/howitworks">
                HOW SMS WORKS?
                </a>
            </div>
            <div class = "navbar-brand">
                <a class = "navbar-item" href="/contact">
                CONTACT
                </a>
            </div>
           
            <% if( user ) { %>
            <div class = "navbar-brand">
             <div class="welcome">| &nbsp;Welcome, <b><%= user.name %></b></div>
          </div>
        <% } %>

         
          </div>
      
        
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                 <a class="bd-tw-button button is-focused is-small is-danger" href="/storages/all/showall"><span><i class="fas fa-th-list"></i> <b>SHOW ALL STORAGES</b></span>

                </a>
    
              </p>
                <p class="control">
                  <% if((user) && (user.userrole == "admin")){ %><a class="bd-tw-button button is-focused is-small is-warning" href="/admins">
                  <span>Admin Panel</span> <% } %>
                </a>
    
              </p>

                <p class="control">
                    <% if (!user) { %><a class="bd-tw-button button is-focused is-small is-warning" href="/auth/google">
                    <span><i class="fab fa-google"></i> Connect with Google</span> <% } %>
                  </a>
      
                </p>


                <% if (user) { %> <p class="control">
                 <a href="/users/<%= user._id %>/edit"><button class="button is-primary is-focused is-small"><span><i class="fas fa-edit"></i> Edit My Account</span></button> </a> 
                  &nbsp;
                   <a class="button is-focused is-small" href="/forms/<%=user.id%>/inbox"><span><i class="fas fa-envelope"></i> Message Inbox</span></a> &nbsp;
                <% if(user.phone) { %><a class="button is-info is-focused is-small" href="/storages/new"> <% } else { %><a class="button is-info is-focused is-small" disabled href="#"> <% } %><span><i class="fas fa-plus-square"></i> Add Storage</span></a> &nbsp;
                     <a class="button is-warning is-focused is-small" href="/logout">
                    <span><i class="fas fa-sign-out-alt"></i> Logout</span></a> &nbsp;
                    <% } else { %>
                        <a class="button is-danger is-focused is-small" href="/auth/google">
                    <span><i class="fas fa-user-plus"></i>Sign Up</span></a>
                    <% } %>
                  
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>

